*{
    padding :0;
    margin : 0;
    box-sizing: border-box ;
    border: 2px;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}

.header{
    display :flex;
    justify-content:space-around;
    padding:0 130;
    height:56px;
    align-items: center;
    border-bottom :2px solid #f3f3f3;
}
.header img {
    width : 160px;
}

.header-right{
    display:flex;
    gap :20px;
}
.header-right a{
    text-decoration:none;
    color:#666;
    font-family:Arial, Helvetica, sans-serif;

}
.hero-section{
    text-align:center;
    color :#424242;

}
.hero-section img{
    height:400px;
    margin:65px 0;
    
}
.hero-section h1{
    margin:10px;
}
.hero-section p{
    font-size: 1.25rem;
    font-weight: 400;
    
    margin-bottom: 50px;
}
.hero-section a{
    color:#f3f3f3;
    font:bold;
    font-size:20px;
    text-decoration :none;
    background-color:#387ED1;
    padding:12px 32px;
    border-radius:3px;
    margin-bottom:200px;
}

.trust-section{
    display:flex;
    justify-content :space-between;
    padding : 0 140px;
    margin-top :100px;
}
.trust-left a{
    text-decoration:none;
    color:#387ED1;
}
.trust-right img{
    width:590px;
}
.trust-left h2{
    padding : 32px 0px;
}
.trust-left h3{
    margin-bottom :8px;
}
.trust-left p{
    margin-bottom : 32px;
    gap:20px;
}
.right-anchor{
    margin:50px;
    text-decoration:none;
}
.news-paper{
    margin :80px 0px;
    display:flex;
    justify-content:center;
}

/* --------- Unbeatable Pricing Section Start --------- */

.unbeatable-price{
    display:flex;
    justify-content:space-between;
    padding:20px 140px;
    margin-top:180px;
}

.unbeatable-left h2{
    margin-bottom:32px;
}
.unbeatable-left p{
    margin: 32px 0px;
}
.unbeatable-left a{
    color:#387ED1;
    text-decoration:none;
}

.unbeatable-right{
    display:flex;
}
.unbeatable-right img{
    width:150px;
}
.unbeatable-right div{
    display:flex;
    justify-content:bottom;
}

.unbeatable-right div p{
    margin-top:80px;
    margin-left:0px;
    font-size:12px;
}


/* --------- Unbeatable Pricing Section end --------- */