*{
    padding :0;
    margin : 0;
    box-sizing: border-box ;
    border: 2px;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}

.header{
    display :flex;
    justify-content:space-around;
    padding:0 130;
    height:56px;
    align-items: center;
    border-bottom :2px solid #f3f3f3;
}
.header img {
    width : 160px;
}

.header-right{
    display:flex;
    gap :20px;
}
.header-right a{
    text-decoration:none;
    color:#666;
    font-family:Arial, Helvetica, sans-serif
}
.hero-section{
    text-align:center;
    color :#424242;

}
.hero-section img{
    height:400px;
    margin:65px 0;
    
}
.hero-section h1{
    margin:10px;
}
.hero-section p{
    font-size: 1.25rem;
    font-weight: 400;
    
    margin-bottom: 50px;
}
.hero-section a{
    color:#f3f3f3;
    font:bold;
    font-size:20px;
    text-decoration :none;
    background-color:#387ED1;
    padding:12px 32px;
    border-radius:3px;
}