*{
    padding :0;
    margin : 0;
    box-sizing: border-box ;
    border: 2px;
}
body{

    color:#424242;
    font-family: "Inter", serif;
    font-size: 16px;
    width: 100%;
    line-height: 1.7;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

body p{
    font-size: 1.2rem;
    line-height: 1.8;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7SUc.woff2) format('woff2');
}
body a{  
    text-decoration:none;
    color:#387ED1;
     
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}


.header{
    display :flex;
    justify-content:space-around;
    padding:40px 6px;
    height:66px;
    width:100vw;
    align-items: center;
    border-bottom :2px solid #f3f3f3;
    position:fixed;
 
}
.header img {
    width : 160px;
}

.header-right a:hover{
    color:#387ED1;
}

.header-right{
    display:flex;
    gap :42px;
    margin-top:14px;
}
.header-right a{
    text-decoration:none;
    color:#666;
    font-family:Arial, Helvetica, sans-serif;  
    transition:color 0.4ms ease;

}
.hero-section{
    text-align:center;
    color :#424242;

}
.hero-section img{
    height:440px;
    margin-top:160px;
    
}
.hero-section h1{
    margin:10px;
}
.hero-section p{
    font-size: 1.25rem;
    font-weight: 400;
    
    margin-bottom: 50px;
}
.hero-section a{
    color:#f3f3f3;
    font:bold;
    background-color:#387ED1;
    font-size:20px;
    padding:12px 32px;
    border-radius:3px;
    margin-bottom:200px;
}

.trust-section{
    display:flex;
    justify-content :space-between;
    padding:20px 240px;
    margin-top :100px;
}

.trust-right img{
    width:590px;
    margin-top:100px;
}
.trust-left h2{
    padding : 32px 0px;
}
.trust-left h3{
    margin-bottom :8px;
}
.trust-left p{
    margin-bottom : 32px;
    gap:20px;
}
.right-anchor{
    margin:50px;
    text-decoration:none;
}
.news-paper{
    margin :80px 0px;
    display:flex;
    justify-content:center;
}

/* --------- Unbeatable Pricing Section Start --------- */

.unbeatable-price{
    display:flex;
    justify-content:space-between;
   padding:20px 240px;
    margin-top:150px;
}

.unbeatable-left h2{
    margin-bottom:32px;
    font-family:Arial, Helvetica, sans-serif;
}
.unbeatable-left p{
    margin: 32px 0px;

}

.unbeatable-right{
    display:flex;
}
.unbeatable-right img{
    width:150px;
}
.unbeatable-right div{
    display:flex;
    justify-content:bottom;
}

.unbeatable-right div p{
    margin-top:80px;
    margin-left:0px;
    font-family: 'Inter';
    font-style: normal;  
    font-size: 0.8rem;
    line-height: 1; 
    
}


/* --------- Unbeatable Pricing Section end --------- */

/* --------- Verasity Section Start --------- */

.varsity-section{
    display:flex;
    justify-content:space-between;
    padding:20px 240px;
    margin-top:150px;
    gap:60px;
}
.varsity-left img{

    width:550px;
    margin-right:100px;

}
.varsity-right h2{
    margin-bottom:32px;
}
.varsity-right p{
    margin-bottom:24px;
    margin-top:24px;
}
.varsity-right a{
        font-weight: 500;
  
}
/* --------- Verasity Section end --------- */

/* --------- Open-ZeroAcc Section start --------- */
.Open-ZeroAcc{
    margin-top:150px;
    text-align:center;
    color :#424242;
    margin-bottom:100px;
}
.Open-ZeroAcc h1{
 margin:10px;
}
.Open-ZeroAcc p{
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 50px;
}
.Open-ZeroAcc a{
    color:#f3f3f3;
    font:bold;
    background-color:#387ED1;
    font-size:20px;
    padding:12px 50px;
    border-radius:3px;
    font-style:normal;
}

/* --------- Open-ZeroAcc Section end --------- */

/* --------- Footer Section start --------- */

.footer{
    background-color:#fbfbfb;
    margin-top:100px;
    height:600px;
    padding:20px 240px;
    border-top: 1px solid #eee;

}
.footer-top{
    display:flex;
    justify-content:space-around;
   
    margin-top:32px;
}
.footer-top img{
    width:200px;
}
.footer-top a{
    line-height: 2.8; 
    color:#666;
   font-size:18px;
}
.social-media a{
    margin-right:6px;
}
.social-media i{
    width:50px;
}
.social-media p{
    font-size:16px;
}
.footer-bottom{
    margin-top:40px;
}
.footer-bottom p{
    font-size:11px;
    color:#9b9b9b;
    font-family:Arial, Helvetica, sans-serif;
}
.end{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:20px;
    margin-bottom:38px;
    font-size:12px;
    color:#9b9b9b;
}
.end a{
      color:#9b9b9b;
}
/* --------- Footer Section end --------- */
